*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Banner1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
color: #fff;
text-decoration: none;
font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #C1DBDA;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;  
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #628474;
    background: #628474;
    transition: 1s;
}

/*------ keunggulan ------*/

.keunggulan{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
p{
    color: #628474;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.keunggulan-jastul{
    color: #628474;
    flex-basis: 31%;
    background: #e9faf8;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.keunggulan-jastul:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*------ jobdesk ------*/

.jobdesk{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.jobdesk h1{
    color: #628474;
}
.jobdesk-jastul{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.jobdesk-jastul img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: #628474be;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #C1DBDA;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: o.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*------ harga ------*/

.harga{
    width: 80%;
    margin: auto;
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: auto;
}
.harga-jastul{
    margin-top: 50px;
    margin-bottom: 50px;
}
.harga img{
    float: left;
    margin:0 50px 4px 50px;
}
.harga-jastul h2{
    color: #628474;
}
.harga-jastul .btn-btn{
    display: inline-block;
    text-decoration: none;
    color: #e9faf8;
    background-color: #628474;
    border: 1px solid #e9faf8;
    border-radius: 50px;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}
.btn-btn:hover{
    box-shadow: 0 0 20px 5px #628474;
    background: #fff;
    border: 1px solid #628474;
    color: #628474;
    transition: 1s;
}

/*------ order ------*/

.order{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid #C1DBDA;
}
.order h1{
    position: center;
    color: #628474;
}
.order-jastul{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
    background: #628474;
    padding: 25px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.order-jastul img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.order-jastul h3{
    color: #e9faf8;
    text-align: left;
}
.order-jastul p{
    color: #e9faf8;
}
.order-jastul p a{
    color: #e9faf8;
}

/*------ instagram ------*/

.instagram{
    margin: auto;
    width: 80%;
    background-image: url(sosmed.png);
    background-position: right;
    background-size: cover;
    text-align: left;
    padding: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.instagram h1{
    color: #628474;
    margin-bottom: 20px;
    font-size: 30px;
}
.instagram .btn-round-full{
    display: inline-block;
    text-decoration: none;
    color: #e9faf8;
    background-color: #628474;
    border: 1px solid #e9faf8;
    border-radius: 50px;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}
.btn-round-full:hover{
    box-shadow: 0 0 20px 5px #628474;
    background: #fff;
    border: 1px solid #628474;
    color: #628474;
    transition: 1s;
}

/*------ footer ------*/

.footer-basic {
    padding:40px 0;
    background-color:#C1DBDA;
    color:#628474;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #628474;
    margin:0 8px;
    color:#628474;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:rgb(90, 88, 88);
    margin-bottom:0;
  }